<strong>Olá, {{ provider }}</strong>
<p>Houve uma nova inscrição no meetup: {{ title }}
  <p>
    <strong>Participante: </strong> {{ user }} <br />
    <strong>Email: </strong> {{ email }} <br />
  </p>
